**/*.suo
**/*VC.db
**/*VC.opendb
**/*.lastbuildstate

**/Debug/*.ilk
**/Debug/*.idb
**/Debug/*.log
**/Debug/*.obj
**/Debug/*.pdb
**/Debug/*.tlog

**/Release/*.ilk
**/Release/*.iobj
**/Release/*.ipdb
**/Release/*.log
**/Release/*.obj
**/Release/*.pdb
**/Release/*.tlog

# Junk files
**/*\ -\ Copy*
**/*.lnk
**/*.bak*

# Python
**/__pycache__
**/*.pyc

**/.idea/workspace.xml
**/.idea/tasks.xml
